{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <h4>Панель упралвения</h4>
    {% if tasks %}
        {% for task in tasks %}
            <div class="card mb-3 shadow-sm border-1 rounded">
                <h2>{{ task.title }}</h2>
                <p>{{ task.task }}</p>
                <a href="{% url 'edit_task' task.pk %}" class="btn btn-custom btn-outline-primary-custom">✏️ Редактировать</a>
                <a href="{% url 'delete_task' task.pk %}" class="btn btn-custom btn-outline-primary-custom">🗑️ Удалить</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Задач нет</p>
    {% endif %}

  

{% endblock content %}